@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
}
body {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  overflow-x: hidden !important;
}
#root {
  max-width: 1140px;
}
.font-poppins {
  font-family: "Poppins", sans-serif;
}
/* Initial State */
.slide-up-h2,
.slide-up-p,
.slide-up-btn {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
}

/* Delayed Transitions */
.slide-up-p {
  transition: opacity 1s ease 0.5s, transform 1s ease 0.5s;
}

.slide-up-btn {
  transition: opacity 1s ease 1s, transform 1s ease 1s;
}

/* Active State */
.animate {
  opacity: 1;
  transform: translateY(0);
}

.slide-up-img {
  opacity: 0;
  transition: opacity 1s ease;
}

.animate-img {
  animation: fadeIn 3s ease forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.list-more {
  background-color: #ffffff;
  border: 1px solid #e7e7e7;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
}

.gradient-bg {
  background-image: linear-gradient(-90deg, #f1f2fe 0, #f4f4f4 100%);
}

.visibility-hidden {
  visibility: hidden;
}

.cart-overflow::-webkit-scrollbar {
  width: 0px;
}

.filter {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

@media (min-width: 1200px) {
  #root,
  .container {
    max-width: 1140px !important;
  }
}

@media (max-width: 767px) {
  #root,
  .container {
    padding: 1rem !important;
  }
  .wishlist {
    border: 1px solid #e7e7e7;
    border-top: 4px solid #3740ea;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.05);
  }
}

input:focus-visible {
  outline: 0px;
}
